[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pylint = "*"
black = "*"
isort = "*"
pytest = "*"
python-semantic-release = "*"
tox = "*"
setuptools = "*"

[packages]
pycountry = "*"
aiohttp = "*"
asyncio = "*"

[requires]
python_version = ">=3.7"

[pipenv]
allow_prereleases = true
